.about-container{
   
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    animation: pageup 1s ease-out forwards;
    
    
     
 }
 .about-container::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue);
  z-index: 5;
  animation: fade 1s ease-in forwards 0.25s;
 
 }

 .perso-info{
     min-height: calc(100vh - 200px ); 
 }
 .info{
     display: flex;
 }
 .about-list{
     display: block;
     flex-basis: auto;
     width: 45%;
     margin: 10px;
     color: white;
 }
 .row1 h3{
     font-weight: 600;
     font-size: 26px;
     margin-bottom: 22px;
     text-transform: uppercase;
 }
 .row2{
     display: flex;
     width: 100%;
     /* flex-wrap: wrap; */
 }
 .row2 ul{
     min-width: 50%;
     display: flex;
     flex-direction: column;
     /* flex-wrap: wrap; */
    /* flex: 0 0 100%; */
 }
 .row2 li{
     display: flex;
     padding-bottom: 20px;
     text-transform: capitalize;
 }
 .row2 li h2{
     opacity: 0.8;   
     font-weight: 400;
 }
 .row3{
     
     margin: 20px auto;
 }
 .info-list{
     font-weight: 600 !important;
     font-size: 16px;
     text-transform: none;
 }
 .stats   {
     width: 55%;
 }
 /* skills section */

 .skills{
    margin: 50px 0;
    min-height: calc(100vh); 
 }
 .sec-title {
    color: white;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 22px;
    text-transform: uppercase;
    text-align: center;
 }
 .sk-el{
     margin-top: 50px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
 }
 .skills .cir-100{
    margin: 0 auto;
    width: 125px;
    height: 125px;
    margin: 40px 5%;

 }
 .cir-100 p{
     width: 100%    ;
     text-align: center;
     margin: 15px auto;
     color: white;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;
 }

 .exp-edu-container{
    margin: 50px 0;
    min-height: calc(100vh); 
 }



 @media screen and (max-width:1200px){
    
    .row2{
        width: 100%;
    }
    .row ul{
        display: block;
        width: 50%;
    }
    .row2 li{
        flex-direction: column;
        
    }
 }
 @media screen and (max-width:950px){
    .info{
        display: flex;
        flex-direction: column;
    }
    .about-list{
        width: 100%;
        margin-bottom: 70px;
    }
    .stats   {
        width: 100%;
    }
    .row2 li{
        flex-direction: row;
        
    }
 }
 @media screen and (max-width:600px){
    .row3{
        text-align: center;
    }
    .row2{
        width: 100%;
    }
    .row ul{
        display: block;
        width: 50%;
    }
    .row2 li{
        flex-direction: column;
        
    }
 }