.box-st{
    height: 150px;
    border: 1px solid var(--orange);
    border-radius: 10px;
    padding: 10px 20px 25px 30px;
}
.box-st h3{
   color: var(--orange);
    font-size: 50px;
    font-weight: 600;
    
}
.box-st p{
    position: relative;
    color:  white;
    font-size: 16px;
    padding-left: 45px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.box-st p::before{
   content: "";
   position: absolute;
   left: 0;
   top: 13px;
   width: 30px;
   height: 1px;
   background: #777;
}