.ttitle{
    display: block;
    color: white;
    font-size: 56px;
    font-weight: 900;
    text-transform: uppercase;
}
.ttitle span{
 color: var(--orange);
 text-transform: uppercase;
}
.ttitle::after{
            
}
.title-bg{
    font-size: 110px;
    left: 0;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    right: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
    transform: translateY(-50%);
    color: hsla(0,0%,100%,.07);

            
    
}